<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head">
    <title>Tipos de Cliente</title>
</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
    <div align="center" class="container">
		<h1>Tipos de Clientes</h1>
            <a href="/views/tipocliente/new" class="btn btn-success">Crear un Tipo de Cliente</a ></br></br>
            <table border="1" class="table table-striped">
			<thead>
				<tr>
					<td>Codigo</td>
					<td>Nombre</td>
					<td>Acciones</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tipocliente : ${listaTiposCliente}">
					<td th:text="${tipocliente.CODIGO}"></td >
					<td th:text="${tipocliente.NOMBRE}"></td >
					<td>
						<a th:href="@{'/views/tipocliente/listar/' + ${tipocliente.CODIGO}}" class="btn btn-info">Editar</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/views/tipocliente/delete/' + ${tipocliente.CODIGO}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr >
			</tbody>
		</table >
	</div >
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>