<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Parcial Corte 2</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class = "container">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>Parcial corte 2</h1>
                <h2>Juan David Martinez Cardenas</h2>
                <h2>jdmartinezcardenas@uts.edu.co</h2>
                <h2>Unidades Tecnologicas De Santander</h2>
                <h2>Progracion en Java</h2>
                <h3>Grupo B191</h3>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>