<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head">
    <title>Tipos de Cliente</title>
</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
    <div align="center" class="container">
		<h1>Estado de Clientes</h1>
            <a href="/views/estadocliente/new" class="btn btn-success">Crear un Estado de Cliente</a ></br></br>
            <table border="1" class="table table-striped">
			<thead>
				<tr>
					<td>Codigo</td>
					<td>Nombre</td>
					<td>Acciones</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estadocliente : ${listaEstadoCliente}">
					<td th:text="${estadocliente.CODIGO}"></td >
					<td th:text="${estadocliente.NOMBRE}"></td >
					<td>
						<a th:href="@{'/views/estadocliente/listar/' + ${estadocliente.CODIGO}}" class="btn btn-info">Editar</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/views/estadocliente/delete/' + ${estadocliente.CODIGO}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr >
			</tbody>
		</table >
	</div >
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>