<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Parcial Corte 2</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h1 class="card-title">Parcial corte 2</h1>
                            <h2 class="card-subtitle mb-4">Geraldine Plata Angarita</h2>
                            <p class="card-text">Email: gplata@uts.edu.co</p>
                            <p class="card-text">Unidades Tecnologicas De Santander</p>
                            <p class="card-text">Programación en Java</p>
                            <p class="card-text">Grupo B191B</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
